.gamePlay {
    margin: 1rem;
}

.roundOne {
    margin: 2rem auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
}

.roundOne h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: darkslategray
}

.wordInputDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.wordInputDiv input {
    width: 300px;
    padding: 0.5rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.wordInputDiv button {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #e4736b;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.roundResults {
    margin: 2rem auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
}

.roundResults h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: #e4736b;
}

.roundResults h3 {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    color: #555;
}

.roundResults button {
    margin: 1rem 1rem 0 1rem;
    padding: 0.5rem 1rem;
    background-color: #e4736b;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
