div.allGamesMainDiv {
    overflow-y: auto;
    width: 100%;
    margin: 0;
    padding: 0.5rem 0 0 0;
    /* outline: red dotted thin; */
}


div.allGamesButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: .5rem;
}

div.allGamesButtons button {
    border: none
}

.timeQueryButtonClick {
    border-radius: 20px;
    color: darkslategray;
    padding: 5px 10px 5px 10px;
    font-weight: 500;
    margin-right: 10px;
    margin-bottom: 5px;
}

.timeQueryButtonNotClicked {
    background-color: white;
    border-radius: 20px;
    color: darkgray;
    padding: 5px 10px 5px 10px;
    font-weight: 500;
    margin-right: 10px;
    margin-bottom: 5px;
}

div.allGamesScroller {
    max-height: 64vh;
    margin: 0;
    overflow-y: auto;
    width: fit-content;
    padding: .5rem;
}

div.allGamesScroller::-webkit-scrollbar {
    width: 0.5rem;
}

div.allGamesScroller::-webkit-scrollbar-thumb {
    background-color: rgb(186, 186, 186);
    border-radius: 10px;
}

div.allGamesScroller::-webkit-scrollbar-thumb:hover {
    background-color: rgba(186, 186, 186, 0.758);
}


@media screen and (max-width: 600px) {
    div.allGamesScroller {
        max-height: 68vh;
    }

}
