.followingRounds {
  margin: 0 auto;
  padding: 1rem 1rem 1rem 1rem;
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 90%;
  border: #333 2px solid;
  box-shadow: 10px 10px 0px #333, rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

div.previousWords {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0rem;
  width: 100%;
}

div.previousWords h2.previousWords {
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 0.5rem;
}

.lastRoundWords {
  padding: 0rem 0;
  margin-top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.lastRoundWords h5 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0rem 0.5rem 0.5rem 0.5rem;
  color: #555;
}

.lastRoundWords h6 {
  font-size: 1rem;
  font-weight: 500;
  margin: 1rem 0.5rem;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  margin-bottom: 0.5rem;
  background-color: #334075;
  border: #333 2px solid;
  box-shadow: 5px 5px 0px #333, rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

h6.friendUserLastRoundWord {
  background-color: #d85f56;
}

.previousWords h2 {
  margin: 0rem 1rem 1.5rem 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: #555;
}

.followingRoundDirectionsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  border-top: #555 1px solid;
  padding-top: 1rem;
  width: 90%;
}

h2.followingRoundsDirections {
  font-size: 1.1rem;
  width: 100%;
  font-weight: 500;
  margin: 0 0 0.5rem 0;
  color: #333;
}

.followingRounds .wordInputDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.followingRounds button {
  width: 9rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  padding: 0.6rem 2rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  color: white;
}

.wordInputDiv input {
  width: 300px;
  padding: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 50px;
  font-size: 1rem;
}

.wordInputDiv button {
  background-color: #e4736b;
  border-radius: 50px;
}

.followingRounds button.disabledButton {
  cursor: not-allowed;
  pointer-events: none;
}

.gameOverDiv button {
  background-color: #d3574e;
  border-radius: 50px;
  margin-top: 0.75rem;
}
