.followingRounds {
    margin: 0 auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.previousWords {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: .5rem;
    width: 100%;
}

.previousWords h2 {
    margin: .5rem 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: #5A5A5A;
}

.previousWords h3 {
    margin: .5rem 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: #E97F70;
}

.previousWordsSubDiv {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.partnerPreviousWord,
.yourPreviousWord {
    flex: 1;
}

.partnerPreviousWord h2,
.yourPreviousWord h2 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    color: #555;
}

.followingRoundDirectionsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: #5A5A5A 1px solid;
    padding-top: 1rem;
    width: 90%;
}

h2.followingRoundsDirections {
    font-size: 1.2rem;
    width: 100%;
    font-weight: 500;
    margin: 0 0 .5rem 0;
    color: darkslategray;
}



.followingRounds .wordInputDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.wordInputDiv input {
    width: 300px;
    padding: 0.5rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.wordInputDiv button {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #e4736b;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
