.followingRounds {
    margin: 0 auto;
    padding: 2rem 1rem 2rem 1rem;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #A0741B 1px solid;
}


.previousWords {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: .5rem;
    width: 100%;
}

.lastRoundWords {
    padding: 0rem 0;
    margin-top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.lastRoundWords h5 {
    font-size: 1rem;
    font-weight: 500;
    margin: 0rem 0.5rem 0.5rem 0.5rem;
    color: #555;
}


.lastRoundWords h6 {
    font-size: 1rem;
    font-weight: 500;
    margin: 1rem .5rem;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 125px;
    margin-bottom: .5rem;
    background-color: #334075;
}

h6.friendUserLastRoundWord {
    background-color: #D85F56;
}


.previousWords h2 {
    margin: 0rem 1rem 1.5rem 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: #555;
}

/*
.previousWords h3 {
    margin: .5rem 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: #E97F70;
}

.previousWordsSubDiv {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.partnerPreviousWord,
.yourPreviousWord {
    flex: 1;
}

.partnerPreviousWord h2,
.yourPreviousWord h2 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    color: #555;
}

*/
.followingRoundDirectionsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    border-top: #555 1px solid;
    padding-top: 1rem;
    width: 90%;
}

h2.followingRoundsDirections {
    font-size: 1.2rem;
    width: 100%;
    font-weight: 500;
    margin: 0 0 .5rem 0;
    color: darkslategray;
}



.followingRounds .wordInputDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.followingRounds button {
    width: 9rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    padding: 0.6rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    color: white;

}

.wordInputDiv input {
    width: 300px;
    padding: 0.5rem;
    border: 2px solid #ccc;
    border-radius: 50px;
    font-size: 1rem;
}

.wordInputDiv button {
    background-color: #e4736b;
    border-radius: 50px;

}

.followingRounds button.disabledButton {
    cursor: not-allowed;
    pointer-events: none;
}

.gameOverDiv button {
    background-color: #d3574e;
    border-radius: 50px;
    margin-top: .75rem;
}
