.recentGamesSlider {
    height: 100%;
    width: 88%;
    margin: 0rem auto 1rem auto;
}

.recentGamesSlider .slick-dots {

    display: hidden;

}

.noRecentGames {
    border: #bcbbbb 1px solid;
    border-radius: 10px;
    text-align: center;
    padding: 4rem 0rem;
    width: 90%;
}

.noRecentGames h2 {
    color: #555;
    font-size: 1.4rem;
    font-weight: 500;
    margin: auto;
}
