.friendsList {
    background-color: transparent;
    border-radius: 8px;
    margin: 1rem;
    height: 75vh;
}

.friendsContainer {
    /* border: #f2f2f2 2px solid; */
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.friendsContainer::-webkit-scrollbar {
    width: 8px;
}

.friendsContainer::-webkit-scrollbar-thumb {
    background-color: rgb(186, 186, 186);
}

.friendsContainer::-webkit-scrollbar-thumb:hover {
    background-color: rgba(186, 186, 186, 0.758);
}

.friendsListTitle {
    font-size: 2rem;
    font-weight: 200;
    color: white;
    margin-bottom: 0rem;
    text-align: center;
    letter-spacing: 1px;
}


.friendsNavBar {
    /* outline: red dotted 1px; */
    display: flex;
    justify-content: space-between;
    margin: 0rem;
}

.friendNavLinks {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.friendsNavBar a {
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: rgba(128, 128, 128, 0.521);
    text-decoration: none;
    transition: color 0.3s ease;
}

.friendsNavBar a:hover {
    color: #A0741B;
}


.friendsNavBar .active-link {
    color: #A0741B;
    font-weight: bold;
}


.openFriendModalDiv {
    /* outline: green dotted 1px; */
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.openFriendModalDiv button {
    background-color: transparent;
    border: none;
}

.fa-user-plus {
    color: #D85F56;
    font-size: 1.4rem;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s ease;
    margin: 0 .5rem .2rem 1.4rem;
}

.fa-user-plus:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.47);
}

.friendItem {
    width: 100%;
    padding: 1rem;
    background-color: transparent;
    box-shadow: 0 0 1.5px rgba(0, 0, 0, 0.1);
    margin-bottom: 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s;
    position: relative;

}

.friendItem:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.friendItem:last-child {
    margin-bottom: 0;
}

.friendIconDiv {
    flex: 1;
    text-align: center;
    position: relative;
}

.onlineStatus {
    position: absolute;
    top: 32%;
    left: 5.5%;
    width: 7px;
    height: 7px;
    background-color: green;
    border-radius: 50%;

}

.fa-user {
    font-size: 2rem;
}

.friendInfo {
    flex: 4;
    display: flex;
    flex-direction: column;
}

.friendUsername {
    font-size: 1rem;
    font-weight: 500;
    color: #334075;
}

.friendName {
    font-size: 1rem;
    color: #666;
}


.friendButtons {
    width: 35%;
    display: flex;
    flex-direction: row;
}

.friendItem button {
    flex: 2;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    background-color: transparent;
    color: #666;
    border: transparent 2px solid;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
    transition: font-weight 0.3s;
    transition: color 0.3s;
}



.friendItem button:hover {
    color: #334075;
}
