.pastGamesMainDiv {
  padding: 1rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 92%;
  box-sizing: border-box;
  margin: 0;
  /* outline: green dotted thin; */
}

.pastGamesMainDiv h1 {
  font-size: 1.5rem;
}

.recentGamesSlider {
  /* outline: red thin dotted; */
  width: 85%;
  margin: 0 auto 1rem auto;
}

.slick-dots {
  position: absolute;
  bottom: -15px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
