.notLoggedInHomePageMainDiv {
  margin: 0;
  background-color: transparent;
  padding-bottom: 0;
position: relative;
}

div.landingPageTopSection {
  /* outline: red thin dotted; */
  position: relative;
  padding: 2.25rem 2rem 0rem 2rem;
  padding-bottom: 0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
margin-top: 0;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 0;
  margin-bottom: 0;
  min-height: 500px;

}

div.landingPageTopSection img.blobDots{
display: none;
}

.notLoggedInHomePageMainDiv h1#notLoggedInHomePage {
  color: #333;
  font-weight: 400;
  text-align: center;
  font-size: 3.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* outline: orange thin dotted; */

}

div.notLoggedInHomePageMainDiv  img.wavelengthLines{
  width: 200px;
  height: auto;
}

.notLoggedInHomePageMainDiv .fa-wave-square {
  margin: 0.5rem auto;
  width: 100%;
  color: #334075;
  font-size: 3rem;
  text-align: center;
}

.notLoggedInHomePageMainDiv h2#notLoggedInHomePage {
  color: #191414;
  font-weight: 300;
  text-align: center;
  font-size: 1.7rem;
  margin: 2rem 2rem;
  /* outline: brown thin dotted; */

}

.notLoggedInHomePageSubDiv {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.notLoggedInHomePageButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin-bottom: 4rem;
}

.notLoggedInHomePageButtons button {
  margin: 1rem 0.5rem 0.5rem 1rem;
  background-color: transparent;
  border: #D85F56 2px solid;
  border-radius: 25px;
  padding: 0.75rem 0.25rem;
  width: 7.5rem;
  height: 3rem;
  background-color: #D85F56;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

.notLoggedInHomePageButtons button:hover {
  cursor: pointer;
  background-color: #d85f56d9;
  scale: 1.05;
}

.notLoggedInHomePageButtons button:last-child {
  margin-bottom: 0;
}

div.notLoggedInHomePageButtons > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.notLoggedInHomePageButtons button.notLoggedInHomePageDemoButton {
  border-color: #334075;
  background-color: #334075;
  color: white;
  margin: 1.5rem 0 auto 0;
  width: 10rem;
  padding: auto 1.5rem;
  margin-bottom: 1rem;
  transition: all 0.2s ease-in-out;
}

.notLoggedInHomePageButtons button.notLoggedInHomePageDemoButton:hover {
  background-color: #334075e6;
  cursor: pointer;
  scale: 1.05;
}

.custom-shape-divider-bottom-1689819368 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1689819368 svg {
  position: relative;
  display: block;
  width: calc(129% + 1.3px);
  height: 84px;
}

.custom-shape-divider-bottom-1689819368 .shape-fill {
  fill: #334075;
}

@media screen and (min-width: 600px) {


.notLoggedInHomePageMainDiv h1#notLoggedInHomePage {
    font-size: 5rem;
  }

  h2#notLoggedInHomePage {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 3rem;
  }

  .notLoggedInHomePageButtons button {
    width: 12rem;
  }

  .notLoggedInHomePageButtons button.notLoggedInHomePageDemoButton {
    width: 12rem;
  }
}


@media screen and (min-width: 1000px) {

div.landingPageTopSection img.blobDots{
  position: absolute;
  display: block;
  top: -120px;
  right: -200px;
  width: auto;
  height: 700px;
  z-index: -1;
}
}
