.notLoggedInHomePageMainDiv {
    margin: 0;


}

h1#notLoggedInHomePage {
    color: #334075;
    font-weight: 400;
    text-align: center;
    font-size: 2.2rem;
}

h2#notLoggedInHomePage {
    color: #555;
    font-weight: 400;
    text-align: center;
    font-size: 1.4rem;
    margin: 2rem 2rem;
}

.notLoggedInHomePageSubDiv {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.notLoggedInHomePageButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.notLoggedInHomePageButtons button {
    margin: 0 .5rem .5rem 1rem;
    background-color: transparent;
    border: #A0741B 1px solid;
    border-radius: 15px;
    padding: .5rem .25rem;
    width: 8rem;
    height: 2.2rem;
    color: #A0741B;
    font-size: 1rem;
    font-weight: 600;
}

.notLoggedInHomePageButtons button:hover {
    background-color: #A0741B;
    color: white;
    cursor: pointer;
}

.notLoggedInHomePageButtons button:last-child {
    margin-bottom: 0;
}

div.notLoggedInHomePageButtons>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.notLoggedInHomePageButtons button.notLoggedInHomePageDemoButton {
    border-color: #555;
    color: #555;
    margin: .5rem 0 auto 0;
    width: 10rem;
    padding: auto 1.5rem;
}

.notLoggedInHomePageButtons button.notLoggedInHomePageDemoButton:hover {
    background-color: #555;
    border-color: #555;
    color: white;
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    h1#notLoggedInHomePage {
        font-size: 2.5rem;
    }

    h2#notLoggedInHomePage {
        font-size: 1.5rem;
    }

    .notLoggedInHomePageButtons button {
        width: 12rem;
    }

    .notLoggedInHomePageButtons button.notLoggedInHomePageDemoButton {
        width: 12rem;
    }


}
