.pendingFriendMainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 2rem 2rem;
    width: 70%;
    border: #555 1px solid;
    /* box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1); */

}

.pendingFriendMainDiv h1 {
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
    color: #334075;
}

.pendingFriendMainDiv h2 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    color: #555;
}

.friendRequestReceived {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.friendRequestReceived button {
    margin: 0.5rem;
    padding: 0.5rem 1.5rem;
    background-color: #df6960;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, font-weight 0.3s, color 0.3s, box-shadow 0.1s;
}

.friendRequestReceived button:hover {
    background-color: #d65e55;
}

.friendRequestReceived i {
    margin-left: 0.25rem;
}

h3.friendRequestSent {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 1rem;
    color: #555;
}


.noPendingFriendRequests h1.noFriends {
    font-size: 1.25rem;
    padding: 1.5rem 0;
    font-weight: 500;
    color: #555;
}
