.waitingForFriend {
    margin: 2rem auto;
    padding: 0rem;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.waitingForFriendText {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: darkslategray;
}

.userWordDiv {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userSubmittedWord {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    padding-bottom: .75rem;
    /* border-bottom: #e4736b 1px solid; */
    width: 80%;
    color: darkslategray;
}

.userWord {
    background-color: #334075;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 175px;
    margin: 0 auto .5rem auto;
}
