div.roundResults {
  margin: 0rem auto 1rem auto;
  padding: 2rem 1rem;
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  border: 2px #333 solid;
  box-shadow: 10px 10px 0px #333, rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 90%;
}

.roundResults h2 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 0rem;
  padding-top: 0;
  margin-bottom: 0rem;
  color: #555;

  @media screen and (max-width: 800px) {
    margin-bottom: 1rem;
  }
}

div.roundResults div.roundResultsTop {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* outline: red 2px dotted; */
  padding: 0;
}

div.roundResults div.roundResultsTop div {
  /* outline: purple 2px dotted; */
  margin: 0;
  height: 100%;
}

.roundResultsTop h5 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #555;
  @media screen and (max-width: 800px) {
    margin-top: 0;
  }
}

.roundResultsTop h6 {
  font-size: 1rem;
  font-weight: 500;
  margin: 1rem 0.5rem;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 125px;
  margin-bottom: 0.5rem;
  border: #333 2px solid;
  background-color: #334075;
  box-shadow: 5px 5px 0px #333, rgba(0, 0, 0, 0.16) 0px 1px 4px;

  @media screen and (max-width: 800px) {
    font-size: 0.9rem;
    width: 100px;
    height: 100px;
  }
}

h6.friendUserLastGameWord {
  background-color: #e4736b;
}

div.roundResults p {
  font-weight: 500;
}

.roundResults button {
  margin: 1rem 1rem 0 1rem;
  padding: 0.5rem 1.5rem;
  background-color: #e4736b;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
