/* .mostRecentSingleGame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: .5rem;
    padding: 0rem;
    width: 78vw;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
}

.mostRecentSingleGame:hover {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.mostRecentSingleGameSubDiv {
    width: 95%;
    border-radius: 10px;
    padding: 0rem;
    margin: 0rem;

}

h2#lastGameTitle {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0rem .25rem .4rem .25rem;
    color: #334075;
}


.totalRounds {
    margin: 1rem auto;
    padding: 1rem .25rem;
    width: 70%;
    border: 1px solid #A0741B;
    border-radius: 10px;
}

h2#totalRoundsTitle {
    font-weight: 500;
    font-size: 1.2rem;
    color: #555;
}

.mostRecentSingleGame h3 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0.25rem;
    color: #555;
}

.mostRecentSingleGame h4 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1rem 0 0.5rem 0;
    padding: 0 0 0.25rem 0;
    color: darkslategray;
}


div#gameOutcome {
    margin: 2rem 0 1.7rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;

}

h2#gameOutcome {
    color: darkslategray;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 0 0.3rem 0;
}

div#gameOutcome h3 {
    font-size: 1.2rem
}

h3.gameOutcomeSuccess {
    color: green;
    font-weight: 500;
    line-height: 1rem;
    margin-bottom: 1rem;
}

h3.gameOutcomeFailed {
    color: red;
    font-weight: 500;
    line-height: 1rem;
    margin-bottom: 1rem;
}

div#gameOutcome i {
    margin: 0 .5rem;
    font-size: 1.3rem;
}


.mostRecentGameFinalWords {
    padding: 0rem 0;
    margin-top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.mostRecentGameFinalWords h5 {
    font-size: 1rem;
    font-weight: 500;
    margin: 0rem 0.5rem 0.5rem 0.5rem;
    color: #555;
}


.mostRecentGameFinalWords h6 {
    font-size: 1rem;
    font-weight: 500;
    margin: 1rem .5rem;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 125px;
    margin-bottom: .5rem;
    background-color: #334075;
}

h6.friendUserLastGameWord {
    background-color: #D85F56;
} */
