.friendItem {
    width: 100%;
    padding: 1rem;
    background-color: transparent;
    box-shadow: 0 0 1.5px rgba(0, 0, 0, 0.1);
    margin-bottom: 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s;
}

.friendItem:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.friendItem:last-child {
    margin-bottom: 0;
}

.friendIconDiv {
    flex: 1;
    text-align: center;
}

#friendIcon {
    color: #E4736B;
}

#pendingFriendIcon {
    color: #ccc;
}

.fa-user {
    font-size: 2rem;
}

.friendInfo {
    flex: 4;
    display: flex;
    flex-direction: column;
}

.friendUsername {
    font-size: 1.4rem;
    font-weight: 400;
    color: white;
}

.friendName {
    font-size: 1rem;
    color: #666;
}

.friendItem button {
    flex: 2;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    background-color: transparent;
    color: white;
    border: transparent 2px solid;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
}

.friendItem button:hover {
    border: white 2px solid;
    border-radius: 5px;
    background-color: white;
    color: #E4736B;
}

.onlineStatus {
    position: relative;
    top: -40%;
    left: -35%;
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
}
