.navigationUl {
    /* outline: red dotted thin; */
    height: 3rem;
    min-height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    padding: 1rem 1rem;
    background-color: transparent;
    margin: 0;
    box-sizing: border-box;
}

.navigationUl li {
    /* outline: green dotted thin; */
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.navigationUl a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: 500;
}

.profile-dropdown {
    position: absolute;
    right: 25px;
    top: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    padding: 0;
    z-index: 2;
    background-color: transparent;
    width: 175px;
    font-size: 1.2rem;
    border: rgba(255, 255, 255, 0.5) 1px;
    background-color: rgba(255, 255, 255, 0.6);
    background-color: white;
}

.profile-dropdown h5 {
    background-color: white;
    border: none;
    width: 100%;
    color: darkslategray;
    font-size: 1rem;
    font-weight: 300;
    margin: .1rem;
    text-align: center;
}

#profileDropdownUsername {
    margin-top: 1rem;
}

#profileDropdownEmail {
    border-bottom: 1px solid #E4736B;
    padding-bottom: 0.5rem;
    margin: 0rem;
}

.profile-dropdown .profile-dropdown li {
    /* outline: green dotted thin; */
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
}


.profileButton {
    /* outline: green thin dotted; */
    border: none;
    margin: 0;
    background-color: transparent;
}

.profileButton:hover {
    cursor: pointer;
}

.profileIcon {
    margin: 0;
    color: white;
    border: 1px orangered;
    border-radius: 15px;
    padding: 0;
    font-size: 30px;
}

.logoutButton {
    background-color: white;
    border: none;
    padding: .75rem 2rem;
    width: 100%;
    color: #E4736B;
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
}

.logoutButton:hover {
    cursor: pointer;
    background-color: #E4736B;
    color: white;
}

.profile-dropdown button {
    background-color: white;
    border: none;
    border-radius: none;
    padding: .75rem 2rem;
    width: 100%;
    color: #E4736B;
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
}

.profile-dropdown button:hover {
    cursor: pointer;
    background-color: #E4736B;
    color: white;
}

.hidden {
    display: none;
}
