.friendItem {
  width: 92%;
  padding: 1rem;
  background-color: transparent;
  margin-bottom: 0.4rem;
  border-bottom: #bcbbbb 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s;
  position: relative;
  /* transition: border 0.3s ease; */
  transition: box-shadow 0.3s ease;
}

.friendItem:hover {
  cursor: pointer;
}

.friendItem:last-child {
  margin-bottom: 0.2;
  border-radius: 8px;
  border-bottom: none;
}

.friendItemLeftDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
}

img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  margin-right: 1rem;
}

.onlineStatus {
  position: absolute;
  top: 32%;
  left: -0.05%;
  width: 7px;
  height: 7px;
  margin-right: 0.5rem;
  background-color: green;
  border-radius: 50%;
}

.fa-user {
  font-size: 2rem;
}

.fa-user.friendIcon {
  color: #555;
}

.fa-user.pendingFriendIcon {
  color: #92929289;
}

.friendInfo {
  flex: 4;
  display: flex;
  flex-direction: column;
}

.friendUsername {
  font-size: 1rem;
  font-weight: 500;
  color: #334075;
}

.friendName {
  font-size: 1rem;
  color: #666;
}

.friendButtons {
  display: flex;
  flex-direction: row;
}

.friendButtons button {
  flex: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.5rem;
  margin-right: 1rem;
  background-color: transparent;
  color: #555;
  border: transparent 1px solid;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
  transition: font-weight 0.3s;
  transition: color 0.3s;
  transition: box-shadow 0.1s;
}

.friendItem button:active {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  color: white;
  background-color: #334075;
}

.friendItem button i {
  margin-left: 0.5rem;
}

@media (min-width: 600px) {
  .friendItem button:hover {
    color: white;
    background-color: #334075;
  }
}

@media (max-width: 599px) {
  .onlineStatus {
    position: absolute;
    top: 32%;
    left: 2.4%;
    width: 7px;
    height: 7px;
    margin-right: 0.5rem;
    background-color: green;
    border-radius: 50%;
  }

  .friendItem button {
    margin: 0;
    padding: 0.25rem 0.75rem;
    flex-direction: column;
    align-items: center;
  }

  .friendItem button i {
    margin-top: 0.5rem;
    margin-left: 0;
  }
}
